librewolf/default

!librewolf/default/browser-extension-data
!librewolf/default/chrome
!librewolf/default/extensions
!librewolf/default/extension-store
!librewolf/default/settings
!librewolf/default/storage

!librewolf/default/addons.json
!librewolf/default/addonStartup.json.lz4
!librewolf/default/extension-preferences.json
!librewolf/default/extensions.json
!librewolf/default/extension-settings.json
!librewolf/default/prefs.js
!librewolf/default/user.js

dconf/
discord/
gnome-session/
goa-1.0/
evolution/
ibus/
keepassxc/
nautilus/
neofetch/
pcloud/
pulse/
spotify/
systemd/
git/

monitors.xml
qtProject.conf
user-dirs.dirs
user-dirs.locale
.gsd-keyboard.settings-ported

