[Desktop Entry]
Type=Application
Version=1.0
Name=pcloud-drive-1.14.5-2.AppImage
Comment=pcloud-drive-1.14.5-2.AppImagestartup script
Exec=/opt/pcloud/pcloud-drive-1.14.5-2.AppImage
StartupNotify=false
Terminal=false